* {
	box-sizing: border-box;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#wrap {
	display: flex;
	flex-direction: row;
}

img {
	height: 128px;
	width: 128px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}


.bg {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	z-index: -10;
}


/* RANDOM NUMBER GAME */
#rand-game {
	background: url(assets/2D/bg/rand_bg.png);
	background-size: cover;
	background-position: center;
	display: flex;
	height: 100vh;
	flex-direction: column;
	left: 0;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;
	position: absolute;
	width: 67vw;
}

#btns {
	margin: 4rem auto;
}

.btn-div {
	display: inline-block;
	height: 68px;
	margin: .25rem;
	position: relative;
	width: 52px;
}

.btn {
	color: white;
	background: none;
	border: 0;
	font-size: 1.5rem;
	height: inherit;
	outline: 0;
	width: inherit;
}

.text {
	color: white;
	font-size: 1.5rem;
	font-weight: bolder;
	margin: 2rem auto;
	position: relative;
}

#secret {
	height: 82px;
	width: 330px;
}

.speaker-img, .btn-img {
	height: inherit;
	width: inherit;
}

#secret-text {
	color: #d6d6d6;
	font-size: 1.25rem;

}

.text-in-panel {
	left: 50%;
    position: absolute;
	text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
	width: inherit;
}

#secret-speaker {
	color: hsl(7, 100%, 50%);
	font-size: 1.25em;
	text-shadow: 1px 1px 0px black;
}

.mini-text {
	color: wheat;
	font-size: 1.25rem;
	margin: .5rem;
	text-align: center;
}

#chat {
	height: 123px;
	width: 600px;
}

#speaker {
	max-height: 85px;
	max-width: 550px;
}

#squirrels {
	bottom: 0;
	display: flex;
	justify-content: center; 
	position: absolute;
	width: 100%;
}

.squirrel.right {
	transform: rotateY(180deg);
}

#laughs {
	bottom: 100px;
	display: flex;
	justify-content: center; 
	position: absolute;
	width: 100%;
}

.laugh {
	color: white;
	text-align: center;
	width: 128px;
}

/* SPACE GAME */
#space-game {
	color: white;
	height: 100vh;
	position: absolute;
	right: 0;
	width: 33vw;
}

#ship-cont {
	top: 10%;
	left: 40%;
	position: absolute;
}

#ship {
	
}

.laser {
	position: absolute;
	top: 0%;
	width: inherit;
}

#cube {
	top: 80%;
	left: 40%;
	position: absolute;
}

#expl {
	top: 80%;
	display: none;
	left: 40%;
	position: absolute;
	z-index: 2;
}

#nut {
	top: 80%;
	display: none;
	left: 40%;
	position: absolute;
	z-index: -1;
}

#space-text-cont {
	margin: 1rem;
	margin-left: 2rem;
}

#enemies {
	display: flex;
	align-items: center;
}

#enemies-left {
	display: inline-flex;
	justify-content: center;
}

.mini-cube {
	height: 24px;
	width: 24px;
	margin: 1px;
}


/* LINE */
#line {
	height: 100vh;
	left: 67vw;
	position: absolute;
	width: 10px;
	box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.8), -5px 0px 40px rgba(0, 0, 0, 0.8);
}

/* MODAL */
#modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    height: 100vh;
    left: 0;
	justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

#modal-content {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #888;
	border-radius: 10px;
	color: white;
    margin: auto;
    padding: 2rem;
    width: 80%;
}

#modal-content h1 {
	margin: 1rem;
}

#attention {
	color: rgba(255, 255, 255, 0.8);
	font-size: .9rem;
	font-style: italic;
	margin: 3rem auto 0;
	text-align: center;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}