* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: beige;
	height: 100vh;
	width: 100vw;
	overflow: ;
}

#wrap {
	display: flex;
	flex-direction: row;
}

#rand-game {
	height: 100vh;
	width: 67vw;
}

#rand-game {
	height: 100vh;
	width: 67vw;
}

#space-game {
	height: 100vh;
	width: 33vw;
}

#space-canvas {
	height: inherit;
	width: inherit;
}